<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>

<body>
    <h1>URL Shortener</h1>
    <!-- Form for entering URL -->
    <form action="/url" method="POST">
        <% if (locals?.Id) { %>
            <p>URL Generated : http://localhost:3000/url/<%= Id %>
            </p>
            <% } %>

                <div style="display: inline-flex; flex-direction: column; gap: 10px;">

                    <label for="url">Enter Your Orignal URL</label>
                    <div class="">
                        <input type="text" name="url" placeholder="Enter your long URL here..." required
                            style="width: 300px; padding: 8px;" />

                        <button type="submit" style="padding: 8px 12px;">Shorten</button>
                    </div>
                </div>
    </form>
    <hr />

    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>S. No</th>
                <th>ShortID</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% urls?.forEach((url, index)=> { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= url.shortId %>
                            <a href="http://localhost:3000/url/<%=url.shortId  %>" target="_blank">Click me</a>
                    </td>
                    <td>
                        <a href="<%= url.redirectUrl %>" target="_blank">
                            <%= url.redirectUrl %>
                        </a>
                    </td>
                    <td>
                        <%= url.visitHistory.length || 0 %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

</body>

</html>